@import 'variables';

.#{$classPrefix} {

    &-column {
        &--empty {
            min-height: 10rem;
            display: flex;
            border: 1px dashed rgba(74, 85, 104, 0.25);
            height: 100%;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            color: rgba(74, 85, 104, 0.5);
            cursor: default;

            .#{$classPrefix}-drag-element {
                width: 100%;
                align-self: stretch;

                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &-drag-element {
        margin-top: -1px;
        margin-bottom: -1px;
        padding-top: 1px;
        padding-bottom: 1px;
    }



    &-ghost {
        background-color: rgba(0, 100, 240, 0.25);
        height: 10px;
        border-radius: 5px;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: top .2s, left .2s, width .2s, height .2s;


        &::before,
        &::after {
            position: absolute;
            width: 100%;
            left: 0;
            line-height: 14px;
            height: 0;
            overflow: hidden;
            text-align: center;
            font-size: 9px;
            text-transform: uppercase;
            background-color: rgba(0, 100, 240, 0.75);
            color: #fff;

            transition: height .2s;
        }

        &::before {
            content: attr(data-text) ' above';
            bottom: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &::after {
            content: attr(data-text) ' below';
            top: 100%;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }


        &-text {
            display: inline-block;
            padding: 5px 15px;
            border-radius: 5px;
            background-color: rgba(0, 100, 240, 0.75);
            color: #fff;
        }

        &:not(#{&}--empty) &-text {
            display: none;
        }

        &-icon {
            display: inline-block;
            border-radius: 50%;
            padding: 5px;
            background-color: rgba(0, 100, 240, 0.75);

            svg {
                transition: transform 0.2s ease;
                color: #fff;
                width: 24px;
                height: 24px;
            }
        }

        &--empty &-icon {
            display: none;
        }

        &--to-top {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &--to-bottom {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &--to-bottom &-icon svg {
            transform: rotate(180deg);
        }

        &--to-top::before,
        &--to-bottom::after {
            height: 14px;
        }
    }

    &-item {
        position: relative;
        border: 2px dashed transparent;
        box-sizing: padding-box;

        &-name {
            position: absolute;
            left: -2px;
            top: -2px;
            padding: 3px 10px;
            color: #fff;
            font-size: 14px;
            opacity: 0;
        }

        &--hover > &-name {
            opacity: 1;
        }

        &-toolbox {

        }
        &--container &-name,
        &--container &-toolbox {
            background-color: #53CBB1;
        }
        &--item &-name,
        &--item &-toolbox {
            background-color: #576372;
        }

        &--hover#{&}--container {
            border-color: #53CBB1;
        }
        &--hover#{&}--item {
            border-color: #576372;
        }
    }
}

.is-over:not(.root)>.#{$classPrefix}-drag-element>* {
    pointer-events: none;
}